<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Resume Maker</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="{{ url_for('static', filename='default.css')}}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='fonts.css')}}" rel="stylesheet" type="text/css" media="all" />

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Résumé Maker</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="{{url_for('index')}}" accesskey="1" title="">Homepage</a></li>
				<li><a href="{{url_for('about')}}" accesskey="4" title="">Instructions</a></li>
				<!-- <li><a href="#" accesskey="2" title="">Cover Letters</a></li> -->
				<li><a href="{{url_for('about')}}" accesskey="3" title="">About Us</a></li>
				<li><a href="{{url_for('contact')}}" accesskey="5" title="">Contact</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>Fast. Easy to Use. Professional.</h2>
			<span class="byline">Create, edit and share your resume in minutes</span>
		</div>
		<ul class="actions">
			<li><a href="{{url_for('resume')}}" class="button">Build My Resume</a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Best resume Builder Online</h2>
			<span class="byline">Create a Personalized, Job-Worthy Resume in Minutes</span>
		</div>
		<div class="boxA">
			<span class="fa fa-cloud-download"></span>
			<p>Create an individual URL for your online resume.</p>
			<!-- <a href="#" class="button button-alt">More Info</a> -->
		</div>
		<div class="boxB">
			<span class="fa fa-cogs"></span>
			<p>Edit readily available professional templates.</p>
			<!-- <a href="#" class="button button-alt">More Info</a> -->
		</div>
		<div class="boxC">
			<span class="fa fa-wrench"></span>
			<p>publish and download your resumes any time you want.</p>
			<!-- <a href="#" class="button button-alt">More Info</a> -->
		</div>
	</div>
</div>
<div id="welcome">
	<div class="container">
		<div class="title">
			<h2>Customized Resumes & Cover Letters</h2>
			<span class="byline">Resume Builder lets you create a professional-looking resume in a click.</span>
		</div>
		<p>A free online tool that helps you create your resume quickly and professionally. Without the hassle and struggle of figuring out how to format everything. With a good resume, you have a passport to a better job. </p>
		<ul class="actions">
			<li><a href="#" class="button">Get Started</a></li>
		</ul>
	</div>
</div>
<div id="copyright" class="container">
	<p> Site in &beta; | Made with &hearts; by <a href="http://www.kaushalsharma.me/">Kaushal Sharma</a> </p>
</div>
</body>
</html>
